html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    background-color: rgba(112, 128, 144, 0.61);
    float: right;
    position: relative;
    top: 30px;
    border-radius: 50px 0 0 50px;
}

ul li {
    float: left;
    width: 120px;
    text-align: center;
    transition: 0.8s;
    border-radius: 10%;
}

ul li a {
    font-size: 20px;
    line-height: 50px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 2px lightblue;
    transition: 0.2s;
}

ul li:hover a {
    background-color: transparent;
    font-size: 22px;
    color: black;
    font-weight: 600;
}

ul li:hover::before {
    left: -5px;
    color: black;
}

ul li::before {
    content: '[';
    font-size: 25px;
    position: relative;
    left: 5px;
    transition: 0.5s;
    color: transparent;
}

ul li::after {
    content: ']';
    position: relative;
    left: 0px;
    font-size: 25px;
    transition: 0.5s;
    color: transparent;
}

ul li:hover::after {
    left: 6px;
    color: black;
}

.who {
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079524/Mine%20Portfolio/maxresdefault_hhywi1.jpg');
    background-size: cover;
    background-position: 10% 0;
    background-attachment: fixed;
}

.who h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    font-size: 35px;
    color: darkslateblue;
}

.who h2 {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    font-size: 20px;
    color: thistle;
}

.who h3 {
    font-family: 'Poppins', sans-serif;
    padding: 2% 31.7%;
    font-size: 25px;
    color: darkslateblue;
}

.who p {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
}

.image1 {
    width: 310px;
    height: 420px;
    margin: 1% 1% 0 5%;
    border: 4px outset grey;
    float: left;
}

.List {
    font-size: 22px;
    padding: 1% 2%;
    color: thistle;
}

.port {
    width: 100%;
    height: 1000px;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079524/Mine%20Portfolio/maxresdefault_hhywi1.jpg');
    background-size: cover;
    background-position: 10% 0;
    background-attachment: fixed;
    overflow: hidden;
}

.port a {
    float: left;
    padding: 0 2% 0 13%;
}

.port h2 {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    font-size: 35px;
    color: darkslateblue;
}

.port h3 {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    font-size: 20px;
    color: thistle;
}

.port p {
    font-family: cursive;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    color: darkslateblue;
}

.port_img {
    width: 400px;
    height: 300px;
    margin-left: 15%;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079520/Mine%20Portfolio/my1_boxshu.png');
    background-size: cover;
    background-position: 40% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

.port_sub1 {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    transition: 0.5s;
    top: -100%;
}

.port_icon {
    position: absolute;
    top: 40%;
    left: 45%;
}

.port_img:hover .port_sub1 {
    top: 0;
}

.port_img2 {
    width: 400px;
    height: 300px;
    margin-left: 55%;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079531/Mine%20Portfolio/my2_ai6xyw.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

.port_sub2 {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    transition: 0.5s;
    top: -100%;
}

.port_img2:hover .port_sub2 {
    top: 0;
}

.port_img3 {
    width: 400px;
    height: 300px;
    margin: 27% 0 0 15%;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079540/Mine%20Portfolio/glamm_SS_hwwpcu.png');
    background-size: cover;
    background-position: 40% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

.port_sub3 {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    transition: 0.5s;
    top: -100%;
}

.port_img3:hover .port_sub3 {
    top: 0;
}

.port_img4 {
    width: 400px;
    height: 300px;
    margin: 27% 0 0 55%;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079540/Mine%20Portfolio/summer_SS_cmwgoc.png');
    background-size: cover;
    background-position: 40% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

.port_sub4 {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    transition: 0.5s;
    top: -100%;
}

.port_img4:hover .port_sub4 {
    top: 0;
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 800px;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079531/Mine%20Portfolio/IMG_2574_yxby1p.jpg');
    background-size: cover;
    background-position: 0 60%;
}

.banner h1 {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    color: white;
    float: right;
    padding: 15% 15% 0 15%;
    text-shadow: 13px 13px 8px black;
}

.banner h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 25% 0 0 55%;
    text-shadow: 13px 13px 5px black;
}

.skill {
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079522/Mine%20Portfolio/port_back_bndv1p.jpg');
    background-size: cover;
    background-position: 20% 10%;
    background-attachment: fixed;
}

.skill h2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 38px;
    color: darkslateblue;
}

.skill h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-left: 10%;
}

.skill p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 5%;
}

.container {
    margin: auto;
    width: 80%;
    background-color: #ddd;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px black;
}

.skills {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px black;
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 85%;
    background-color: #2196F3;
}

.c_prog {
    width: 75%;
    background-color: #f44336;
}

.net {
    width: 60%;
    background-color: #808080;
}

.resume {
    width: 100%;
    height: 950px;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079522/Mine%20Portfolio/port_back_bndv1p.jpg');
    background-size: cover;
    background-position: 20% 10%;
    background-attachment: fixed;
    overflow: hidden;
}

.resume h2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 35px;
    color: darkslateblue;
}

.resume h3 {
    font-family: 'Poppins', sans-serif;
    padding-top: 2%;
    padding-left: 15%;
    font-size: 25px;
    color: black;
}

.resume h4 {
    font-family: 'Poppins', sans-serif;
    margin-block-end: 0;
    padding-left: 15%;
    font-size: 20px;
    color: black;
}

.resume h5 {
    font-family: 'Poppins', sans-serif;
    margin-block-end: 0;
    padding-left: 17%;
    font-size: 15px;
    color: black;
}

.resume p {
    font-family: 'Poppins', sans-serif;
    padding-left: 17%;
    font-size: 18px;
    color: black;
}

.resume a {
    color: darkred;
    font-weight: 600;
}

.contact {
    width: 100%;
    height: 600px;
    background-image: url('https://res.cloudinary.com/dagcqvgd1/image/upload/v1607079524/Mine%20Portfolio/maxresdefault_hhywi1.jpg');
    background-size: cover;
    background-position: 10% 0;
    background-attachment: fixed;
    overflow: hidden;
}

.contact h2 {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    font-size: 35px;
    color: darkslateblue;
}

.info {
    font-size: 15px;
    padding: 1%;
    margin: 1% 0 0 17%;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #e5e6ec;
}

.btn_foot {
    background-color: #166d5a;
    border-radius: 4px;
    margin-left: 17%;
    margin-top: 2%;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: white;
    position: absolute;
}

.btn_foot::before {
    content: '';
    position: absolute;
    background-color: transparent;
    transition: 0.2s;
}

.btn_foot:hover::before {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px gray;
}

.who i::before {
    color: thistle;
}

.who :hover i::before {
    color: indianred;
}

.skill i::before {
    color: rgba(0, 0, 0, 0.767);
}

.skill :hover i::before {
    color: indianred;
}

.port i::before {
    color: thistle;
}

.port :hover i::before {
    color: indianred;
}

.resume i::before {
    color: rgba(0, 0, 0, 0.767);
}

.resume :hover i::before {
    color: indianred;
}

.contact i::before {
    color: thistle;
}

.contact :hover i::before {
    color: indianred;
}